@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --scrollbar-track: linear-gradient(to bottom, #1c1c1c, #3a3a3a);
  --scrollbar-thumb: linear-gradient(to bottom, #000000, #1c1c1c);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --scrollbar-track: linear-gradient(to bottom, #1c1c1c, #3a3a3a);
    --scrollbar-thumb: linear-gradient(to bottom, #000000, #1c1c1c);
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: none;
  height: 100%;
  background: linear-gradient(135deg, #000000, #1c1c1c, #3a3a3a);
  animation: gradientAnimation 8s ease infinite;
  font-family: "Poppins", sans-serif;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.4);
  overflow-x: hidden;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.light {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5) inset,
    0 0 50px rgba(255, 255, 255, 0.7), 0 0 100px rgba(255, 255, 255, 0.3),
    0 0 150px rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  pointer-events: none;
  z-index: 1000;
  transition: all 0.15s ease;
  width: 100px;
  height: 100px;
  display: none;
}

.container-wide {
  @apply py-6 mt-4 md:px-8 lg:px-10;
}

.container {
  @apply mx-auto;
}

body::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

body::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
  border-radius: 10px;
}
