@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: none;
  height: 100vh;
  background: linear-gradient(135deg, #000000, #1c1c1c, #3a3a3a);
  animation: gradientAnimation 8s ease infinite;
  font-family: "Poppins", sans-serif;
  color: #fff;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.container {
  @apply mx-auto max-w-7xl px-4 py-8;
}
